.endpoints-panel {
/*  background-color: lightgray;*/
  display: flex;
  flex-direction: column;
}

.endpoints-panel-connected {
/*  border: 1px solid green;*/
}

.endpoints-panel-disconnected {
/*  border: 1px solid red;*/
}

.endpoints-form {
  display: flex;
  border: 1px solid gray;
  border-radius: 4px;
  padding: 10px;
}

.endpoints-row-delimiter {
  margin-top: 5px;  
}

.endpoints-form-vertical {
  flex-direction: column;
  margin-top: 5px;
}

.endpoints-server-url {
  flex: 1;
  margin-left: 10px;
  margin-right: 10px;
}
