<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
</head>

<body>
  <div id="opcua-client-app" class="opcua-client-app">
    <header>
      <div class="opcua-header">
        <form class="endpoint-config-form">
          <div class="endpoint-select-row">
            <input id="endpointUrl" class="endpoint-url" type="url" v-model="endpointUrl" placeholder="OPC-UA Endpoint URL">
          </div>
          <div class="security-modes">
            <select id="securityMode" class="endpoints-select" v-bind:disabled="endpoints.length == 0" v-model="selectedEndpointIndex">
              <option v-for="(endpoint, index) in endpoints" :value="index">{{ endpoint.policyName }} - {{endpoint.securityModeName}}</option>
            </select>
            <input class="fill-endpoints-button" v-on:click="fillSecurePolicies" type="button" value="*">
          </div>
          <input class="connect-button"type="button" value="Connect &#8677;" v-bind:disabled="endpoints.length == 0"  v-on:click="connect">
        </form>
        <a href="http://realtimelogic.com" target="_blank">
          <img class="realtimelogic-header-logo" src="https://realtimelogic.com/GZ/images/icons/RealTimeLogicInv.svg">
        </a>
      </div>
    </header>

    <aside>
      <div class="node-tree"> 
        <ua-node :root="root" :connected="connected" v-if="connected"/>
      </div>
    </aside>

    <main>
      <ua-attributes/>
    </main>

    <footer>
      <ua-messages/>
    </footer>
  </div>

  <script src="opcua-client.js" type="module"></script>

</body>
</html>
