<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
</head>

<body>
  <div id="opcua-client-app" class="opcua-client-app">
    <header>
      <div class="opcua-header">
        <form class="endpoint-config-form">
          <input class="endpoint-url" type="url" v-model="endpointUrl" placeholder="OPC-UA Endpoint URL">
          <input class="connect-button" v-on:click="connectEndpoint" type="button" value="Connect &#8677;">
        </form>
        <a href="http://realtimelogic.com" target="_blank">
          <img class="realtimelogic-header-logo" src="https://realtimelogic.com/GZ/images/icons/RealTimeLogicInv.svg">
        </a>
      </div>
    </header>

    <aside>
      <div class="node-tree"> 
        <ua-node :root="root" :connected="connected" v-if="connected"/>
      </div>
    </aside>

    <main>
      <ua-attributes v-if="connected"/>
    </main>
  </div>

  <script src="opcua-client.js" type="module"></script>

</body>
</html>
